{% extends 'school/homebase.html' %}

{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4">Hello, Admin</h1>
  <p class="lead">Welcome to Online Student Volunteer Management System.</p>
  <hr class="my-4">
  <p>Please Sign In or Sign Up to Access The Information</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
